body {
    background-color: #f2f8f8;
}
#page-wrap {
    width: 800px;
    margin: auto;
}
fieldset {
    background-color: #F6F9F9;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
textarea {
    border-radius: 5px;
    border: 2px;
    padding: 5px 10px 5px 10px;
}
button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9); 
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #3498db;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border: 0px;
}
button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
#savebtn {
    border-radius: 15px;
}
#script {
    white-space: pre;
    word-wrap: normal;
    overflow-x: scroll;
} 
